@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);
/* Pharmacy website styling */
/* http://community.wp-code-academy.com/groups/weekly-training-group/forum/topic/project-one-week-three/ */

/* general styling */
h1 {
	font-size: 30px !important;
	font-weight: bold !important;
	text-transform: uppercase !important;
	margin-bottom: 20px !important;
}
body {
	background-image: url("images/background.jpg");
	background-size: cover;
	min-height: 1000px;
	background-repeat: no-repeat;
}
/* override bootstrap container styles */
.container {
	font-family: 'Lato', sans-serif;
	font-size: 16px !important;
	color: #757b4f !important;
}

/* navigation */
nav {
	background: transparent !important;
	border: none !important;
	font-weight: lighter;
	letter-spacing: -1px;
}
nav a {
	text-transform: uppercase;
	color: #757b4f !important;
}
nav a:hover {
	color: #4B4F31 !important;
}
nav .active > a {
	background-color: transparent !important;
}
nav .active > a:hover {
	color: #757b4f !important;
}

/* main feature */
.main-feature {
	margin-top: 50px;
	background: rgba(255, 255, 255, 0.5);
	padding: 50px 0;
}

/* sub features */
.sub-features {
	margin-top: 100px;
}
.single-feature img {
	margin-bottom: 20px;
}
.single-feature a {
	text-transform: uppercase;
	color: #757b4f;
}
.single-feature a:hover {
	text-decoration: none;
	color: #4B4F31;
}
@media screen and (max-width: 500px) {
	.sub-features {
		margin-top: 50px;
	}
	.single-feature {
		margin-bottom: 30px;
	}
	.single-feature img {
	    transform: scale(0.8);
	}
}

/* main content */
.content {
	background: rgba(255, 255, 255, 0.5);
	margin-top: 50px;
	min-height: 360px;
	padding: 20px 40px;
}
